@page
@model Goodnites.Payment.PerfectMoney.Web.Pages.PerfectMoney.Success


<div class="card">
    <div class="card-header">
        <h4>Congrats!</h4>
    </div>
    <div class="card-body">
      
        <div class="alert alert-success">
            <div class="alert-title">Success</div>
           You payment successfully completed.
        </div>
      
    </div>
</div>